.report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
  }
  
  .deliverytable {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for a clean look */
  }
  
  .search-bar input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  
  .buttons {
    margin-bottom: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 1rem;
    text-align: left;
    border: 1px solid #ddd;
  }
  

  .bg-cover {
    background-size: cover; /* Ensures the background image covers the entire element */
    background-position: center; /* Centers the image */
}

.min-h-screen {
    min-height: 100vh; /* Makes sure the height is at least the height of the viewport */
}

.bg-no-repeat {
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
